<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>contact</title>
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="../static/css/mobile.css">
	<script src="js/mobile.js" type="text/javascript"></script>
</head>
<body>
	<div id="page">
		<div id="header">
			<div>
				<a href="index.html" class="logo"><div id="logo1"></div></a>
				<ul id="navigation">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li class="menu">
						<a href="about.html">About</a>
						
					</li>
					
					<li class="selected">
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body" class="contact">
			<div class="header">
				<div>
					<h1>Contact</h1>
				</div>
			</div>
			<div class="body">
				<div>
					<div>
						<img src="../static/images/check-in.png" alt="">
						<h1>Bhadson Road, Patiala, Punjab 147004</h1>
						<p>If you're having problems regarding this website, then don't hesitate to contact us.</p>
					</div>
				</div>
			</div>
			<center>
			<div class="footer">
				
				<div class="section">
					<h1>WE’D LOVE TO HEAR FROM YOU.</h1>
					<p>Email : hazeremovers@gmail.com
					   Phone : 9914517715</p>
				</div>
				
			</div>
			</center>
		</div>
		
	</div>
</body>
</html>
